[submodule "Lib/googletest"]
	path = Lib/googletest
	url = https://github.com/google/googletest.git
[submodule "Lib/DirectXTK"]
	path = Lib/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
